* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container-header {
  background-color: #aaaaaa;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header .container-logo {
  margin-left: 25px;
}

.container-header .container-nav .link-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-right: 25px;
}

.container-header .container-nav .link-items .link-item {
  padding: 5px 15px;
  text-decoration: none;
  color: #ffffff;
}

.container-header .container-nav .link-items .link-item:hover {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.main-container .section-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: beige;
  height: 450px;
}

.main-container .section-card-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-container .section-card-container .card-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
  background-color: #aaaaaa;
}