* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
}

.container-header {
   background-color: #aaaaaa;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container-header .container-logo {
   margin-left: 25px;
}

.container-header .container-nav .link-items {
   list-style: none;
   display: flex;
   justify-content: space-evenly;
   margin-right: 25px;
}

.container-header .container-nav .link-items .link-item {
   padding: 5px 15px;
   text-decoration: none;
   color: #ffffff;
}

.container-header .container-nav .link-items .link-item:hover {
   color: #000000;
   border-bottom: 2px solid #000000;
}

.main-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 8px;
}

.main-container .section-slide-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: beige;
   height: 450px;
}

.main-container .section-card-container {
   max-width: 1224px;
   width: 90%;
   margin: auto;
}

.main-container .section-card-container .card-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin: 0 auto;
   gap: 20px;
}

.card {
   display: grid;
   grid-template-rows: repeat(3, auto);
   border: 1px solid #000000;
}

.card .card-img {
   height: 300px;
   margin-bottom: 20px;
}

.card-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.card .card-footer {
   display: flex;
   height: 50px;
   align-items: center;
   justify-content: center;
   background-color: aquamarine;
   margin-top: 20px;
}